:root {
    --color-white-text : #e6e6e6;
    --color-white-textbox : #d9d9d9;
    --color-magenta : #B724A6;
    --color-purple : #7c28be;
    --color-violet : #4c28be;
    --color-dark-blue : #0f172e;
}

.background{
    background-color: var(--color-dark-blue); 
    height : 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.login_layout{
    height: 434px; 
    width: 366px; 
    background-color: var(--color-violet); 
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto; 
    margin-bottom: auto; 
    border-radius: 20px;
    padding-top: 10px;
}

.textbox_layout{
    display: block;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 50px; 
    margin-bottom: auto; 
}

.textbox_input{
    height: 52px; 
    width: 286px; 
    font-weight: 800; 
    font-size: 19px; 
    background-color: var(--color-white-textbox); 
    align-self: center; 
    margin-left: 10%; 
    margin-right: auto; 
    border-radius: 20px;
    font-family: 'Montserrat';
    padding-left: 10px;
}

.button_style{
    width: 285px; 
    height: 52px; 
    background-color: var(--color-magenta); 
    align-self: center; 
    margin-top: 50px;
    margin-left: 10%; 
    margin-right: auto; 
    font-family: 'Montserrat';
    font-weight: 800; 
    font-size: 21px;
    color: var(--color-white-text);
    border-color: var(--color-magenta);
}

.button_style:hover{
    background-color: #921c84;
    border-color: #6d1563;
}

.label{
    font-weight: 800; 
    font-size: 21px; 
    line-height: 26px; 
    color: var(--color-white-text); 
    margin-left: 15px;
    font-family: 'Montserrat';
}

.title{
    font-weight: 800; 
    font-size: 40px; 
    line-height: 49px; 
    color: var(--color-white-text); 
    margin-left: 30%;
    align-self: center;
    font-family: 'Montserrat';
}

.forgot_password{
    font-family: 'Montserrat';
    font-weight: 800; 
    font-size: 18px;
    color: var(--color-white-text);
    margin-left: 28%;
}

.forgot_password:hover{
    text-decoration: underline;
}

.new_account_link{
    font-family: 'Montserrat';
    font-weight: 800; 
    font-size: 18px;
    color: var(--color-white-text);
    margin-left: 40%;
    text-decoration: none;
}

.new_account_link:hover{
    text-decoration: underline;
}

