
  <!doctype html>
  <html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="../static/css/question.css">
    <link rel="stylesheet" href="../static/css/questions2.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  
  
  
  </head>
  
  <div class="slide">
    <div class="question_layout">
        <h1 id="titleQuestion">WHAT ARE YOUR FAVORITE MOVIES ?</h1> <br>
            <div class="liste_films">

             
                <div>
                    <img class="block_films" data-value="Home Alone" src="https://www.tvguide.com/a/img/catalog/provider/1/2/1-9441893422.jpg"  />
                    <div>
                        <img class="star" src="../static/images/star.svg"  />
                        <select id="stars">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                    </div>
                   
                </div>
        
                <img class="block_films" data-value="Avatar" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/7E8516F750AB36D7E89B3808BCDCB6F8B262D7329621C44181D925DA744C10FF/scale?width=1200&aspectRatio=1.78&format=jpeg"  />
                <img class="block_films" data-value="Inception" src="https://m.media-amazon.com/images/I/912AErFSBHL._AC_SL1500_.jpg" />
                <img class="block_films" data-value="Top Gun" src="https://m.media-amazon.com/images/I/51QyUYRk-kL._AC_.jpg" />
                <img class="block_films" data-value="Toy Story" src="https://musicart.xboxlive.com/7/02361100-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080" />
                <img class="block_films" data-value="The Conjuring" src="https://fr.web.img6.acsta.net/pictures/210/025/21002526_20130430172022533.jpg"  />
                <img class="block_films" data-value="Star Wars" src="https://c8.alamy.com/compfr/r00cc1/star-wars-episode-iv-un-nouvel-espoir-annee-1977-usa-realisation-george-lucas-film-poster-r00cc1.jpg"  />


            </div>

          


    </div>  
  </div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/js/questions.js"></script>

<script src="../static/js/questionGenres.js"></script>





</html>
