<!DOCTYPE html>
<html class="background">
    <head>
        <meta charset="utf-8">
        <title>Sign-up Page</title>
        <link rel="stylesheet" href="../static/css/login.css">
     
        <script src="../static/js/login.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>

    <form  method="post">
        <h1 class="title">LOGIN</h1>
        <div class="login_layout">
            <div class="textbox_layout">
                <label class="label">
                    User
                </label>
                <input class="textbox_input" name="username" id="name" placeholder="username"/>
            </div>
            <div class="textbox_layout">
                <label class="label">
                    Password
                </label>
                <input type="password" class="textbox_input" name="password" id="password" placeholder="Password"/>
            </div>

            <button class="button_style">
                Connect
            </button>
            <a class="new_account_link" href="./create_account">Sign-up</a>
        </div>
    </form>
</html>