<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="../static/css/question.css">
  <link rel="stylesheet" href="../static/css/questions2.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>



</head>


<body>
<section class="slider-wrapper">
  
    <button class="slide-arrow" id="slide-arrow-next">
     NEXT &#8250;
    </button>
    <div class="slides-container" id="slides-container">
      <div class="slide">


            <div class="question_layout">
                <h1 id="titleQuestion">WHAT ARE YOUR FAVORITE GENRES ?</h1> <br>
                <div class="liste_genres">
                    <div class="block_genres" data-value="Science Fiction" >
                        <img src="../static/images/futurama.svg">
                    <h2>SCIENCE FICTION</h2>
                    </div>
                    <div class="block_genres" data-value="Adventure">
                        <img src="../static/images/aventure2.png">
                    <h2>ADVENTURE</h2>
                    </div>
                    <div class="block_genres" data-value="Action">
                        <img src="../static/images/action.png">
                    <h2>ACTION</h2>
                    </div>
                    <div class="block_genres" data-value="Fantasy">
                        <img src="../static/images/licorne.png">
                    <h2>FANTASY</h2>
                    </div>
                </div>
            </div>


      </div>
      <div class="slide">


        <div class="question_layout">
            <h1 id="titleQuestion">WHO ARE YOUR FAVORITE ACTORS ?</h1> <br>
                <div class="liste_acteurs">

                    <div class="block_actors" data-value="tomcruise" >
                        <h3 >Tom <br> Cruise</h3>
                    </div>
                    <div class="block_actors" data-value="johnnydepp" >
                        <h3>Johnny <br> Depp</h3>
                    </div>
                    <div class="block_actors" data-value="garyoldman" >
                        <h3>Gary <br> Oldman</h3>
                    </div>
                    <div class="block_actors" data-value="sigourneyweaver" >
                        <h3>Sigourney <br> Weaver</h3>
                    </div>
                    <div class="block_actors" data-value="emmawatson" >
                        <h3>Emma <br> Watson</h3>
                    </div>
                    <div class="block_actors" data-value="richardarmitage" >
                        <h3>Richard <br> Armitage</h3>
                    </div>
                    <div class="block_actors" data-value="danielcraig" >
                        <h3>Daniel <br> Craig</h3>
                    </div>
                </div>
        </div>

      </div>
      <div class="slide">
        <div class="question_layout">
            <h1 id="titleQuestion">WHO ARE YOUR FAVORITE DIRECTORS ?</h1> <br>
            <div class="liste_realisateurs">

                <div class="block_directors" data-value="stevenspielberg" >
                    <h3>Steven<br> Spielberg</h3>
                </div>
                <div class="block_directors" data-value="jamescameron" >
                    <h3>James<br> Cameron</h3>
                </div>
                <div class="block_directors" data-value="stanleykubrick" >
                    <h3>Stanley<br> Kubrick</h3>
                </div>
                <div class="block_directors" data-value="quentintarantino" >
                    <h3>Quentin<br> Tarantino</h3>
                </div>
                <div class="block_directors" data-value="christophernolan" >
                    <h3>Christopher<br> Nolan</h3>
                </div>
                <div class="block_directors" data-value="lucbesson" >
                    <h3>Luc<br>Besson</h3>
                </div>


            </div>

        </div>
      </div>

      <div class="slide">
        <div class="question_layout">
            <h1 id="titleQuestion">WHAT ARE YOUR FAVORITE MOVIES ?</h1> <br>
                <div class="liste_films">

                    <img class="block_films" data-value="Home Alone" src="https://www.tvguide.com/a/img/catalog/provider/1/2/1-9441893422.jpg"  />


                    <img class="block_films" data-value="Avatar" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/7E8516F750AB36D7E89B3808BCDCB6F8B262D7329621C44181D925DA744C10FF/scale?width=1200&aspectRatio=1.78&format=jpeg"  />
                    <img class="block_films" data-value="Inception" src="https://m.media-amazon.com/images/I/912AErFSBHL._AC_SL1500_.jpg" />
                    <img class="block_films" data-value="Top Gun" src="https://m.media-amazon.com/images/I/51QyUYRk-kL._AC_.jpg" />
                    <img class="block_films" data-value="Toy Story" src="https://musicart.xboxlive.com/7/02361100-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080" />
                    <img class="block_films" data-value="The Conjuring" src="https://fr.web.img6.acsta.net/pictures/210/025/21002526_20130430172022533.jpg"  />
                    <img class="block_films" data-value="Star Wars" src="https://c8.alamy.com/compfr/r00cc1/star-wars-episode-iv-un-nouvel-espoir-annee-1977-usa-realisation-george-lucas-film-poster-r00cc1.jpg"  />


                </div>




        </div>
      </div>

    </div>
  </section>

</body>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="../static/js/questions.js"></script>

<script src="../static/js/questionGenres.js"></script>





</html>
