<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="../static/css/question.css">
  
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>


<div id="question">
    <div class="question_layout">
        <h1 id="titleQuestion">WHAT ARE YOUR GENRE ?</h1>
       <br>
        <div class="liste_genres">
    
            <div class="block_genres" data-value="sf" >
                <img src="../static/images/aventure.png">
               <h2>ADVENTURE</h2>
            </div>
            <div class="block_genres" data-value="sf">
                <img src="../static/images/aventure.png">
               <h2>ADVENTURE</h2>
            </div>
        
    
    
        </div>
    
    </div>
        
</div>
   
    




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<script src="../static/questionGenres.js"></script>







</html>
